* {
    padding: 0px;
    margin: 0px;
}

.container-date {
    /* container */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 6px;
    position: relative;
    width: 484.67px;
    height: 51px;
}

.container-wirapper-date {
    /* date */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 6px;
    width: 80px;
    height: 39px;
    background: #FFFFFF;
    border: 1px solid #717171;
    border-radius: 4px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.item1 {
    /* item 1 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
    width: 20.78px;
    height: 25px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.item2 {
    /* Item 2 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 41px;
    height: 39px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.month {
    /* mount */
    width: 20.78px;
    height: 15px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #717171;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.day {
    /* day */
    width: 16px;
    height: 9px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    display: flex;
    align-items: center;
    color: #717171;
    /* Inside auto layout */
    flex: none;
    order: 1;
}

.date {
    /* date */
    width: 41px;
    height: 39px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #3D3D3D;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}